a.mainlink {
  color: #000;
}

a.mainlink:hover {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
}

@font-face {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#app-container {
    width: 100%;
    max-width: none;
}

body {
    background-color: #f4f4f4;
    color: #333333;
    font-size: 15px;
    margin: 0px;
}

hr {
    margin: 0.3rem 0rem;
}

.banner {
    height: 5.5rem;
    padding: 0rem 2rem 0rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner Img {
    position: relative;
    height: 3rem;
    width: auto;
    margin-left: 2%;
}

H5 {
    color: #e47f37;
    font-weight: 300;
}

H5, H3 {
    font-family: "Helvetica Neue", sans-serif;
}

#left-column {
    /*background-color: #f4f4f4;*/
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 5.5rem);
    
    position: fixed;
    z-index: 100;
}

#right-column {
    /*background-color: #f4f4f4;*/
    padding: 0rem 2rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
    min-height: calc(100vh - 5.5rem);
    
    margin-left: 33.33333vw;
}

.table-row {
    height: 63px;
    vertical-align: middle;
    font-size: 13px;
}

.draglayer {
    cursor: pointer !important;
}

.fig-card {
    background-color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.side-card {
    width: 100%;
    background-color: #FFFFFF;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.table-row:nth-child(even) {
    background-color: #f2f2f2;
}

.app-title, .app-modes {
    margin-left: 15px;
    margin-right: 15px;
}

.side-card label.form-label {
    font-weight: bold;
}

.side-card div.card-element {
    margin-top: 10px;
}

#summary-card div#auth {
    font-weight: bold;
    font-size: 10px;
}

.scenario-buttons {
    margin-right: 5px;
}

#simple-update,
#advanced-update {
    background-color: #e47f37;
    color: #fff
}

.header-left-side {
display: flex;
}

.header-right-side {
    display: flex;
    text-align: right;
    margin-left: auto;
}
    
.header-right-side > div {
    margin-left: 1em;
}



/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */

@media only screen and (max-width: 750px), screen and (min-width: 768px) and (max-width: 1024px) {

    body {
        font-size: 13px;
        margin: 0px;
    }

    .banner {
        height: 6rem;
    }

    h5 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #left-column, #right-column {
        width: 100%;
        margin-left: 0px;
        position: unset;
    }

    #right-column {
        padding: 0rem 0.5rem;
        margin-left: 0px;
    }

    .table-row > div {
        width: 100% !important;
        text-align: center;
        margin: auto;
    }

    .table-row:nth-child(even), .table-row:nth-child(odd) {
        background-color: #FFFFFF;
    }

    #header {
        display: none;
    }

    .annotation-text {
        font-size: 0.8rem !important;
    }
    
    #banner {
        display: block;
        height: 14rem;
    }
    
    #banner > div, #banner > a {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .header-left-side {
        display: block;
        text-align: center;
    }

    .header-right-side {
        display: block;
        text-align: center;
    }
}
