#app-title > * {
    color: white;
    margin: 0;
    padding: 0;
}

#howto-open {
    white-space: nowrap;
}

#gh-link {
    white-space: nowrap;
}

.card, .tab-parent {
    margin: 1em 0 1em 0;
    min-width: auto;
}

label {
  display: block;
  margin-bottom: 0;
}

#transparent-loader-wrapper > div {
    visibility: visible !important;
}

.Select-menu-outer {
  display : block !important;
}

.scenario-buttons {
  margin-left: 0.5em;
  margin-bottom: 1em;
}

#control-tabs-parent .tab-content {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

#controls-container-simple, #controls-container-advanced {
  margin-left: 0;
  margin-right: 0;
  max-width: unset;
}

label.display-inline-lhs {
  display: inline-block;
}

.no-padding {
  padding: 0;
}

#advanced-params .column-3 {
  max-width: 100pt;
}

#advanced-fuels .dash-cell {
  white-space: unset;
}
